body{
	padding:0;
	margin:0;
	/* background:url("../img/fon_bg.jpg"); */
}
#header{
	background:url("../img/sinkorsh19.jpg");
	height:150px;
	display: flex;
    justify-content: space-between;
}
#logotext{
	float:right;
	margin:10px;
	padding:20px;
	text-shadow:2px 2px 2px #f2f7ff;
	color: #2f2db5;
}
#logo{
	float:left;
	width: 70px;
	height: 70px;
	margin: 30px;
	border-radius: 90%;
}
.forAccount{
	    margin-top: 2em;
}
.nav-item{
	font-weight: bold;
    list-style-type: none;
}

#nav{
	display:flex;
	width:100%;
}
#nav a{
	flex:1;
	text-align:center;
	background:#a0bbf0;
	color:#2f2d51;
	font-weight:bold;
	padding:20px 0;
	border-right:white solid 1px;
}
#nav a:hover{
	background:#ffe0b7;
	text-decoration: none;
	/* color:white; */
}
.my-cont{
	margin-top:40px;
	background: #f2f7ff;
	padding:5px;
	border-radius:6px;
	box-shadow:1px 1px 1px #2f2d51;
	
}
.my-col-3 a{
	background:#faf2e5;
	margin-top: 20px;
}
#footer{
	text-align:center;
	padding:10px;
	margin:50px 0;
	font-weight:bold;
	background:#a0bbf0aa;
	color:#2f2d51;
}